@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif
}

.background {
  background: linear-gradient(90deg, #7E2CC9, #4937CC);
  background-size: 400% 400%;
  -webkit-animation: anim 5s infinite ease-in-out;
          animation: anim 5s infinite ease-in-out;
  height: 100vh;
}

@-webkit-keyframes anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 20%;
  height: auto;
}

.img img {
  width: 100%;
  cursor: pointer;
}

.text {
  width: 40vw;
  height: 17%;
  text-align: center;
  margin-top: -100px;
}

.text p {
  padding-top: 7%;
  color: white;
  font-size: 20px;
}

.right {
  color: white;
  float: right;
  margin-top: 23px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#section-1 {
  margin-left: 1%;
  height: 80vh;
  width: 25%;
  border-radius: 25px;
}

#section-2 {
  margin-left: 1%;
  height: 80vh;
  width: 25%;
  border-radius: 25px;
}

#section-3 {
  margin-left: 1%;
  height: 80vh;
  width: 25%;
  border-radius: 25px;
}

.perfil {
  width: 100%;
  background-color: #25252f;
  border-radius: 25px;
  height: 100%;
}

#social-media {
  width: 100%;
  background-color: #25252f;
  border-radius: 25px;
  height: 22%;
  margin-bottom: 5%;
}

#works {
  width: 100%;
  background-color: #25252f;
  border-radius: 25px;
  height: 77%;
}

#interaction-1 {
  cursor: pointer;
  width: 100%;
  height: 33%;
  background-color: #25252f;
  border-radius: 25px;
  margin-bottom: 5%;
  transition: height 0.5s ease-in-out;
}

#interaction-2 {
  cursor: pointer;
  width: 100%;
  height: 31%;
  background-color: #25252f;
  border-radius: 25px;
  margin-bottom: 5%;
  transition: height 0.5s ease-in-out;
}

#interaction-3 {
  cursor: pointer;
  width: 100%;
  height: 32%;
  background-color: #25252f;
  border-radius: 25px;
  transition: height 0.5s ease-in-out;
}

.full {
  height: 75% !important;
}

.min {
  height: 10% !important;
}

.titulo-name {
  border-radius: 10px;
  background-color: #1c1c25;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: 4%;
  padding: 5%;
}

#name {
  font-size: 25px;
  color: white;
  display: inline;
  font-size: 25px;
}

#svg {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #39354d;
  width: 90%;
  height: 35%;
  border-radius: 25px;
  border: 5px solid white;
}

#dani {
  width: 45%;
}

.click_me {
  font-size: 20px;
  position: absolute;
  top: 36%;
  left: 12%;
  color: white;
  opacity: 1;
}

.notShow {
  opacity: 0;
}

#me {
  position: relative;
  left: 13%;
  top: -25%;
  transition: opacity 0.5s ease-in-out;
}

.button {
  position: relative;
  display: inline-block;
  height: 70%;
  width: auto;
  margin-top: 6%;
}

.button a {
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #3d3952;
  display: block;
  position: relative;
  padding: 20px 25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #322f42;
  border-radius: 100px;
}

.button a:active {
  top: 10px;
  background-color: #39354d;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), inset 0 -3px 0 #322f42;
}

.button a:hover {
  background-color: #373547;
}

.slide .button svg {
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #39354d;
  display: block;
  position: relative;
  padding: 20px 25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #2e2b3d;
  border-radius: 100px;
}

.slide .button svg:active {
  top: 10px;
  background-color: #39354d;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), inset 0 -3px 0 #2e2b3d;
}

.carrosel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 90%;
  height: 50%;
  border-radius: 20px;
  background-color: #39354d;
  border: 5px solid white;
}



.titulo-projeto {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 2em;
  line-height: 2em;
  display: none;
}

.slide {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
  gap: 20%;
}

.nothidden {
  display: block !important;
}

.carrosel a {
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
}

.carrosel a img{
  width: 100%;
  height: 100%;
}

.showed {
  display: block !important;
}

.social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10%;
}

.dots {
  width: 15%;
  height: 50%;
  display: inline-block;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  width: 60%;
}

.dots2 {
  width: 15%;
  margin-left: 33%;
}

.contact {
  margin-left: 5%;
  margin-top: 3%;
  width: 100%;
  height: 12%;
}

.contact a {
  margin-left: 25%;
  width: 30%;
  color: white;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #fa0808;
  display: block;
  position: relative;
  padding: 20px 25px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #a70606;
  border-radius: 100px;
}

.contact a:active {
  top: 10px;
  background-color: #fa0808;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), inset 0 -3px 0 #a70606;
}

#skills {
  margin-top: 3%;
  width: 90%;
  border-radius: 15px;
  height: 28%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

#graphic-design{
  background: linear-gradient(45deg, #d43b45, #870953);
  background-size: 500% 500%;
  -webkit-animation: anim 5s infinite ease-in-out;
          animation: anim 5s infinite ease-in-out;
  border-radius: 10px;
  width: 40%;
  height: 45%;
}

#graphic-design p{
  padding-top: 4%;
  text-align: center;
  color: white;
  font-size: 25px;
}

#web-design{
  background: linear-gradient(-45deg, #101f52, #02cfe6);
  background-size: 500% 500%;
  -webkit-animation: anim 5s infinite ease-in-out;
          animation: anim 5s infinite ease-in-out;
  border-radius: 10px;
  width: 40%;
  height: 45%;
}

#web-design p{
  padding-top: 3%;
  text-align: center;
  color: white;
  font-size: 25px;
}

#model{
  background: linear-gradient(90deg, #b4e85a, #01692c);
  background-size: 500% 500%;
  -webkit-animation: anim 5s infinite ease-in-out;
          animation: anim 5s infinite ease-in-out;
  border-radius: 10px;
  width: 40%;
  height: 45%;
}

#model p{
  padding-top: 3%;
  text-align: center;
  color: white;
  font-size: 25px;
}

#photography{
  background: linear-gradient(-90deg, #ed6815, #e8c96d);
  background-size: 500% 500%;
  -webkit-animation: anim 5s infinite ease-in-out;
          animation: anim 5s infinite ease-in-out;
  border-radius: 10px;
  width: 40%;
  height: 45%;
}

#photography p{
  padding-top: 3%;
  text-align: center;
  color: white;
  font-size: 25px;
}

#cover {
  margin-top: 3%;
  position: absolute;
  z-index: 2;
  background-color: #1c1c25;
  width: 90%;
  height: 28%;
  margin-left: 5%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cover .unlock {
  height: 50%;
  width: auto;
  margin-top: 6%;
  cursor: pointer;
}

#cover .unlock svg {
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #3d3952;
  display: block;
  position: relative;
  padding: 20px 25px;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #322f42;
  border-radius: 100px;
}

#cover .unlock svg:active {
  top: 10px;
  background-color: #39354d;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), inset 0 -3px 0 #322f42;
}

#cover .unlock svg:hover {
  background-color: #373547;
}

.text-unlock{
  text-align: center;
  color: white;
  margin-top: 2%;
  opacity: 1;
}

.hidden{
  opacity: 0; 
}

.hide{
  display: none !important;
}

.facts{
  text-align: center;
  color: white;
  padding-top: 19%;
  font-size: 40px;
}

.text-facts{
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-top: 23%;
}

#interaction-1 img{
  height: 35%;
  margin-left: 25%;
  margin-top: 2%;
}

#interaction-2 img{
  height: 28%;
  margin-left: 25%;
  margin-top: 2%;
}

#interaction-3 img{
  height: 28%;
  margin-left: 25%;
  margin-top: 2%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){

  .img {
    width: 30%;
    height: auto;
  }
  
  .img img {
    width: 100%;
  }

  .text {
    width: 40vw;
    height: 20%;
    text-align: center;
    margin-top: -100px;
  }

  #me {
    position: relative;
    left: 20%;
    top: -25%;
    transition: opacity 0.5s ease-in-out;
  }
  
  #section-1 {
    margin-left: 1%;
    height: 80vh;
    width: 30%;
    border-radius: 25px;
  }
  
  #section-2 {
    margin-left: 1%;
    height: 80vh;
    width: 33%;
    border-radius: 25px;
  }
  
  #section-3 {
    margin-left: 1%;
    height: 80vh;
    width: 30%;
    border-radius: 25px;
  }

  #name {
    font-size: 1.4em;
    color: white;
    display: inline;
  }
  
  .dots2 {
    width: 15%;
    margin-left: 5%;
  }

  .contact {
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
    height: 12%;
  }
  
  .contact a {
    margin-left: 23%;
    width: 30%;
    color: white;
    font-size: .4em;
    text-align: center;
    text-decoration: none;
    background-color: #fa0808;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #a70606;
    border-radius: 100px;
  }

  #graphic-design p{
    padding-top: 4%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  #web-design p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  #model p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }
 
  #photography p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  .social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
  }

  .button {
    position: relative;
    display: inline-block;
    height: 75%;
    width: auto;
    margin-top: 6%;
  }
  
  .button a {
    width: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #3d3952;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #322f42;
    border-radius: 100px;
  }

  .facts{
    text-align: center;
    color: white;
    padding-top: 30%;
    font-size: 40px;
  }

  .text-facts{
    color: white;
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    margin-top: 28%;
  }

  #interaction-1 img{
    height: 25%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  #interaction-2 img{
    height: 20%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 992px){

  .img {
    width: 30%;
    height: auto;
  }
  
  .img img {
    width: 100%;
  }

  .text {
    width: 40vw;
    height: 20%;
    text-align: center;
    margin-top: -100px;
  }

  #me {
    position: relative;
    left: 20%;
    top: -25%;
    transition: opacity 0.5s ease-in-out;
  }
  
  #section-1 {
    margin-left: 1%;
    height: 80vh;
    width: 30%;
    border-radius: 25px;
  }
  
  #section-2 {
    margin-left: 1%;
    height: 80vh;
    width: 33%;
    border-radius: 25px;
  }
  
  #section-3 {
    margin-left: 1%;
    height: 80vh;
    width: 30%;
    border-radius: 25px;
  }

  #name {
    font-size: 1.3em;
    color: white;
    display: inline;
  }
  
  .dots2 {
    width: 15%;
    margin-left: 5%;
  }

  .contact {
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
    height: 12%;
  }
  
  .contact a {
    margin-left: 23%;
    width: 30%;
    color: white;
    font-size: .4em;
    text-align: center;
    text-decoration: none;
    background-color: #fa0808;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #a70606;
    border-radius: 100px;
  }

  #graphic-design p{
    padding-top: 4%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  #web-design p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  #model p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }
 
  #photography p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  .social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
  }

  .button {
    position: relative;
    display: inline-block;
    height: 70%;
    width: auto;
    margin-top: 6%;
    margin-left: 1%;
  }
  
  .button a {
    width: 40%;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #3d3952;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #322f42;
    border-radius: 100px;
  }

  .facts{
    text-align: center;
    color: white;
    padding-top: 32%;
    font-size: 40px;
  }

  .text-facts{
    color: white;
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    margin-top: 34%;
  }

  #interaction-1 img{
    height: 25%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  #interaction-2 img{
    height: 20%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
}

@media only screen and (min-width: 250px) and (max-width: 600px){

  * {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif
  }

  .main-cont {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 260vh;
    gap: 1%;
  }

  .img {
    width: 50%;
    height: auto;
  }
  
  .img img {
    width: 100%;
  }

  .text {
    width: 60vw;
    height: 40%;
    text-align: center;
    margin-top: -100px;
  }

  #me {
    position: relative;
    left: 35%;
    top: -20%;
    transition: opacity 0.5s ease-in-out;
  }
  
  #section-1 {
    margin-top: 3%;
    margin-left: 1%;
    height: 80vh;
    width: 90%;
    border-radius: 25px;
  }
  
  #section-2 {
    margin-left: 1%;
    height: 85vh;
    width: 90%;
    border-radius: 25px;
  }
  
  #section-3 {
    margin-left: 1%;
    height: 80vh;
    width: 90%;
    border-radius: 25px;
  }

  #name {
    font-size: 1.3em;
    color: white;
    display: inline;
  }
  
  .dots2 {
    width: 15%;
    margin-left: 25%;
  }

  .contact {
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
    height: 12%;
  }
  
  .contact a {
    margin-left: 23%;
    width: 30%;
    color: white;
    font-size: .4em;
    text-align: center;
    text-decoration: none;
    background-color: #fa0808;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #a70606;
    border-radius: 100px;
  }

  #graphic-design p{
    padding-top: 4%;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }

  #web-design p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }

  #model p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }
 
  #photography p{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 1.2em;
  }

  .social {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2%;
  }
  .slide .button {
    height: 50%;
  }

  .button {
    position: relative;
    display: inline-block;
    height: 70%;
    width: auto;
    margin-top: 6%;
    margin-left: 1%;
  }
  
  .button a {
    width: 40%;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #3d3952;
    display: block;
    position: relative;
    padding: 20px 25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0), 0 10px 0 #322f42;
    border-radius: 100px;
  }

  .facts{
    text-align: center;
    color: white;
    padding-top: 20%;
    font-size: 40px;
  }

  .text-facts{
    color: white;
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    margin-top: 30%;
  }

  #interaction-1 img{
    height: 25%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  #interaction-2 img{
    height: 20%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
}